body {
    background: #870000;
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Bebas Neue, sans-serif;
}

h3 {
    color:white;
}

.brand {
    font-family: Baskervville, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #dd5709;
}
.rest {
    font-family: Bebas Neue, sans-serif;
    color: white;
    margin-left: 20px;

}

.thin {
    font-weight: 300;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link.active:hover {
    color: white;
}

.navbar-nav .nav-link {
    color: #dd5709;
}

.navbar-nav .nav-link:hover {
    color: yellow;
}
.location {
    font-size: large;
    color:#dd5709
}

.bg-none {
    background: none;
}

.custom-btn {
    --bs-btn-padding-x: 2rem;
}

.bg-custom {
    background-color: rgb(0, 0, 0, .5);
}